<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Live Search with AngularJS</title>


  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script src="js/script.js"></script>


</head>

<body ng-app="">
  <div ng-init="subscribers = [
{firstname:'John', lastname:'John', email:'John', phone:'555-1276', company:'Doe International', position:'founder'},
{firstname:'John', lastname:'John', email:'John', phone:'555-1276', company:'Doe International', position:'founder'},
{firstname:'Flavius', phone:'0753 051 456'}
  ]"></div>

  <label>Search:
    <input ng-model="searchText">
  </label>
  <table id="searchTextResults">
    <tr>
      <th>Name</th>
      <th>Phone</th>
    </tr>
    <tr ng-repeat="subscriber in subscribers | filter:searchText">
      <td>{{subscriber.firstname}}</td>
      <td>{{subscriber.phone}}</td>
    </tr>
  </table>

</body>

</html>
