<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Live Search with AngularJS</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script src="js/script.js"></script>
<style type="text/css" >
	#searchTextResults{
		display:none;
	}
</style>
<script type="text/javascript">
	$(document).ready(function(){
		var searchbar = $("#searchbar");
		searchbar.keydown(function(){
			$("#searchTextResults").show();
		});
		
		searchbar.keyup(function(e){
			var value=$.trim($("#searchbar").val());
			if( searchbar.val() == ''){
				//alert('Search bar is empty');
				$("#searchTextResults").hide();
			}
		});
		
		
	});
</script>

</head>

<body ng-app="">
  <div ng-init="subscribers = [
{firstname:'John', lastname:'Doe', email:'johndoe@gmail.com', phone:'555-1276', company:'Doe International', position:'founder'},
{firstname:'Mary', lastname:'Poppins', email:'marypop@gmail.com', phone:'555-1276', company:'Poppins International', position:'founder'},
{firstname:'Flavius', lastname:'Gabor', email:'flaav.gbr@gmail.com', phone:'0753 051 456', company:'Wise Solutions Studios', position:'co-founder'},
{firstname:'Silviu', lastname:'Ionescu', email:'silviu.ionescu@gmail.com', phone:'0751 363 081', company:'Wise Solutions Studios', position:'co-founder'}
]"></div>

  <label>Search:
    <input ng-model="searchText" id="searchbar" >
  </label>
  <table id="searchTextResults">
    <tr>
      <th>Name</th>
      <th>Phone</th>
    </tr>
    <tr ng-repeat="subscriber in subscribers | filter:searchText">
      <td>{{subscriber.firstname}}</td>
      <td>{{subscriber.lastname}}</td>
      <td>{{subscriber.email}}</td>
      <td>{{subscriber.phone}}</td>
      <td>{{subscriber.company}}</td>
      <td>{{subscriber.position}}</td>
    </tr>
  </table>

</body>

</html>
